

<section>
  <div class="container-fluid banner-img g-0">
    <img
      src="https://images.pexels.com/photos/7195556/pexels-photo-7195556.jpeg?auto=compress&cs=tinysrgb&w=800"
    />
  </div>
</section>

<section class="margin-top">
  <h2 class="section-headings">Browse Our Categories</h2>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="curtain-img-div">
          <img
            src="https://m.media-amazon.com/images/I/91SR5NN3QtL._AC_UF894,1000_QL80_.jpg"
            width="100%"
            height="100%"
          />
          
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="cushion-img-div">
          <img
            src="https://m.media-amazon.com/images/I/91q5gh62uaL.jpg"
            width="100%"
            height="100%"
          />
        </div>
        <div class="cushion-img-div mt-3">
          <img
            src="https://m.media-amazon.com/images/I/91q5gh62uaL.jpg"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="curtain-img-div">
          <img
            src="https://m.media-amazon.com/images/I/91SR5NN3QtL._AC_UF894,1000_QL80_.jpg"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
  </div>
</section>
 <section class="margin-top">
    <h2 class="section-headings">Our Popular Products</h2>

   <div class="container">
    <div class="row mt-5">
      <div class="col-12 col-md-3">
          <div class="product-card">
              <img
              src="https://m.media-amazon.com/images/I/91SR5NN3QtL._AC_UF894,1000_QL80_.jpg"
              width="100%"
              height="100%"
              class="proimg"
            />
            <p class="popular-product">Floral Curtains</p>
          </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="product-card">
            <img
            src="https://m.media-amazon.com/images/I/91SR5NN3QtL._AC_UF894,1000_QL80_.jpg"
            width="100%"
            height="100%"
            class="proimg"
          />
          <p class="popular-product">Floral Curtains</p>
        </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="product-card">
          <img
          src="https://m.media-amazon.com/images/I/91SR5NN3QtL._AC_UF894,1000_QL80_.jpg"
          width="100%"
          height="100%"
          class="proimg"
        />
        <p class="popular-product">Floral Curtains</p>
      </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="product-card">
        <img
        src="https://m.media-amazon.com/images/I/91SR5NN3QtL._AC_UF894,1000_QL80_.jpg"
        width="100%"
        height="100%"
        class="proimg"
      />
      <p class="popular-product">Floral Curtains</p>
    </div>
</div>
  </div>
   </div>
 </section>

 <section class="margin-top">
  <h2 class="section-headings">Sofa Covers</h2>

 <div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-3">
        <div class="product-card">
            <img
            src="https://images.pexels.com/photos/30329596/pexels-photo-30329596/free-photo-of-elegant-sofa-with-floral-blanket-in-modern-living-room.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
            class="proimg"
          />
          <p class="popular-product">Floral Curtains</p>
        </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="product-card">
          <img
          src="https://images.pexels.com/photos/30329596/pexels-photo-30329596/free-photo-of-elegant-sofa-with-floral-blanket-in-modern-living-room.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          width="100%"
          height="100%"
          class="proimg"
        />
        <p class="popular-product">Floral Curtains</p>
      </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="product-card">
        <img
        src="https://images.pexels.com/photos/30329596/pexels-photo-30329596/free-photo-of-elegant-sofa-with-floral-blanket-in-modern-living-room.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        width="100%"
        height="100%"
        class="proimg"
      />
      <p class="popular-product">Floral Curtains</p>
    </div>
</div>
<div class="col-12 col-md-3">
  <div class="product-card">
      <img
      src="https://images.pexels.com/photos/30329596/pexels-photo-30329596/free-photo-of-elegant-sofa-with-floral-blanket-in-modern-living-room.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      width="100%"
      height="100%"
      class="proimg"
    />
    <p class="popular-product">Floral Curtains</p>
  </div>
</div>
</div>
 </div>
</section>

<section class="margin-top">
  <h2 class="section-headings">Bedsheets and Duvet Cover Sets</h2>

 <div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-3">
        <div class="product-card">
            <img
            src="https://images.pexels.com/photos/763148/pexels-photo-763148.jpeg?auto=compress&cs=tinysrgb&w=800"
            width="100%"
            height="100%"
            class="proimg"
          />
          <p class="popular-product">Floral Curtains</p>
        </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="product-card">
          <img
          src="https://images.pexels.com/photos/763148/pexels-photo-763148.jpeg?auto=compress&cs=tinysrgb&w=800"
          width="100%"
          height="100%"
          class="proimg"
        />
        <p class="popular-product">Floral Curtains</p>
      </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="product-card">
        <img
        src="https://images.pexels.com/photos/763148/pexels-photo-763148.jpeg?auto=compress&cs=tinysrgb&w=800"
        width="100%"
        height="100%"
        class="proimg"
      />
      <p class="popular-product">Floral Curtains</p>
    </div>
</div>
<div class="col-12 col-md-3">
  <div class="product-card">
      <img
      src="https://images.pexels.com/photos/763148/pexels-photo-763148.jpeg?auto=compress&cs=tinysrgb&w=800"
      width="100%"
      height="100%"
      class="proimg"
    />
    <p class="popular-product">Floral Curtains</p>
  </div>
</div>
</div>
 </div>
</section>
