<div class="login-container">
    <form class="login-form">
      <h2>Contact Us</h2>
  
      <div class="form-group">
        <label for="full-name">Full Name</label>
        <input id="full-name" type="text" required>
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" required>
      </div>
  
      <div class="form-group">
        <label for="password">Message</label>
        <input required>
      </div>
  
      <button type="submit" class="submit-btn mt-1">Submit</button>
    </form>
  </div>
  